@charset "UTF-8";

@font-face {
  font-family: "editor-icons";
  src:url("../fonts/editor-icons.eot");
  src:url("../fonts/editor-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/editor-icons.woff") format("woff"),
    url("../fonts/editor-icons.ttf") format("truetype"),
    url("../fonts/editor-icons.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

/* Icons by Dave Gandy
  http://fortawesome.github.io/Font-Awesome */

[data-icon]:before {
  font-family: "editor-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "editor-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Listos */

.icon-colors:before {
  content: "v";
}

.icon-colors-bk:before {
  content: "A";
}

.icon-bold:before {
  content: "e";
}

.icon-italic:before {
  content: "w";
}

.icon-underline:before {
  content: "s";
}

.icon-strikeThrough:before {
  content: "o";
}

.icon-subscript:before {
  content: "p";
}

.icon-superscript:before {
  content: "q";
}

.icon-smallCaps:before {
  content: "S";
}

.icon-header:before {
  content: "T";
}

.icon-justifyCenter:before {
  content: "a";
}

.icon-justifyFull:before {
  content: "b";
}

.icon-justifyLeft:before {
  content: "c";
}
.icon-justifyRight:before {
  content: "d";
}

.icon-insertUnorderedList:before {
  content: "j";
}

.icon-insertOrderedList:before {
  content: "k";
}

.icon-undo:before {
  content: "n";
}

.icon-redo:before {
  content: "F";
}

.icon-removeFormat:before {
  content: "y";
}

.icon-code:before {
  content: "E";
}

.icon-link:before {
  content: "O";
}

.icon-unlink:before {
  content: "P";
}

.icon-img:before {
  content: "m";
}

.icon-smile:before {
  content: "u";
}

.icon-eye-slash-close:before {
  content: "i";
}

.icon-eye:before {
  content: "h";
}

.icon-filmstrip:before {
  content: "x";
}

.icon-table:before {
  content: "B";
}

.icon-success:before {
  content: "X";
}

.icon-clock:before {
  content: "f";
}
.icon-cursor-move:before {
  content: "g";
}

.icon-paper-clip:before {
  content: "l";
}
.icon-photo:before {
  content: "m";
}

.icon-text-height:before {
  content: "r";
}

.icon-youtube:before {
  content: "t";
}

.icon-pencil:before {
  content: "v";
}

/* Editor */

.editor-mm {
  border-left: 1px solid #C2C2C2;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  min-height: 200px;
  overflow-y: auto;
  padding: 1em;
  position: relative;
  box-sizing: border-box;
}

.toolbar  {
  background: #ededed;  
  border: 1px solid #ccc;
  padding: 0.2em;
  box-sizing: border-box;
}

.buttonsToolbar {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0.1em 0.1em;
  font-size: 16px;
}

.buttonsToolbarSep {
  width: 1px;
  height: 20px;
  display: inline-block;
  border-right: 1px solid #C7C5C5;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 3px
}

.toolbarCommonPanel {
  background: #fafafa;  
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 0.5em;
  box-sizing: border-box;
  position:absolute;
  z-index: 5;
  font-size: 16px;
  display:none;
}

.headerPanel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 22px
}

.headerPanel li:hover, .headerPanel p:hover {
  cursor: pointer;
}

.headerPanel p {
  text-align: center;
  border-top: 1px solid #ededed;
  margin-bottom: .1em;
  margin-top: .2em;
  padding-top: .2em;
}

.imgPanel, .videoPanel {
  width: 250px;
  font-size: 14px;
}

.imgPanel label, .videoPanel label {
  display: inline-block;
  margin-left: .3em;
  width: 20%;
}

.imgPanel .inputLin, , .videoPanel .inputLin {
  width: 70%;
  display: inline-block;
}

.js-inputResponsive {
  vertical-align: middle;
}

.moreOptions {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  padding: .2em 0;
}

.checkIcon {
  display: inline-block;
  width: 30px;
  cursor: pointer;
  vertical-align: middle;
  margin-left: .2em;
}

.colorsPanel {
  width: 260px;
}

.smilePanel {
  width: 260px;
  text-align: center;
}

.smilePanel img {
  display:inline-block;
  margin: 0.1em;
  cursor:pointer;
}

.imgPanel p, .videoPanel p {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

.colorsTile {
  display:inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0.1em;
  border: 1px solid #d5d5d5;
}

.colorsTile:hover {
  opacity: 0.5;
}

.inputsToolbar {
  padding: 0.2em;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #9B9A9A;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 28px;
}

.iconInput {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}

.inputWithIcon {
  padding-right: 30px;
}

.success {
  color: #01B225;
}

.buttonDone {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 3px 6px;
  margin-bottom: 0;
  margin-top: .5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.buttonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* Normalize :P */

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
 
sup {
  top: -0.5em;
}
 
sub {
  bottom: -0.25em;
}